apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: llamaforge-dev

resources:
  - ../../base

namePrefix: dev-

patches:
  - path: patch-env.yaml
    target:
      kind: Deployment

